@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box ;
  outline: none;
  font-family: "Recursive", sans-serif;
}

button{
  height: 50px;
  width: 140px;
  cursor: pointer;
  padding: 0.5rem;
  background: #f90;
  border: none;
  color: white;
  border-radius: 5px;
}

.btn-disabled{
  background:#dedede;
  color: black;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-container{
  width: 70%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemon{
  width: 100px;
  height: 150px;
  background:#ff99001a;
  padding:10px;
  border-radius:10px;
  margin: 15px 15px 15px 15px;
  text-align: center;
  text-transform:capitalize;
}

.logo-container{
  width: 100vw;
  height: 100px;
  background-color:red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container{
  width: 60%;
  display: flex;
  justify-content: space-between;
}